
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myYysCardsLabel" data-translate="yysApp.yysCards.home.createOrEditLabel">Create or edit a Yys Cards</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.yysCards.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.yysCards.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yysApp.yysCards.card" for="field_card">Card</label>
            <select class="form-control" name="card" ng-model="vm.yysCards.card" id="field_card">
                <option value="DOUYU" data-translate="yysApp.YysCard.DOUYU">DOUYU</option>
                <option value="TAIGU" data-translate="yysApp.YysCard.TAIGU">TAIGU</option>
                <option value="MEISHI" data-translate="yysApp.YysCard.MEISHI">MEISHI</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yysApp.yysCards.level" for="field_level">Level</label>
            <select class="form-control" name="level" ng-model="vm.yysCards.level" id="field_level">
                <option value="FOUR" data-translate="yysApp.YysCardLevel.FOUR">FOUR</option>
                <option value="FIVE" data-translate="yysApp.YysCardLevel.FIVE">FIVE</option>
                <option value="SIX" data-translate="yysApp.YysCardLevel.SIX">SIX</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yysApp.yysCards.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.yysCards.quantity"
                    />
        </div>

        <div class="form-group" ng-show="!vm.yysCards.yysAccountId">
            <label data-translate="yysApp.yysCards.yysAccount" for="field_yysAccount">Yys Account</label>
            <select class="form-control" id="field_yysAccount" name="yysAccount" ng-model="vm.yysCards.yysAccountId" ng-options="yysAccount.id as yysAccount.id for yysAccount in vm.yysaccounts"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group" ng-show="vm.yysCards.yysAccountId">
            <input type="hidden" class="form-control" name="yysAccount" ng-model="vm.yysCards.yysAccountId" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
